<div  style="text-align: center;">
    <h1 style="font-size: 3rem;">Biblia Sagrada</h1>

<h2 style="font-size: 2.5rem;">Todos os livros</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="font-size: 1ren;" scope="col">Livros</th>
        </tr>
    </thead>
    <tbody>
        
            {{#each livros}}
            <form action="/biblia/livro" method="post">
            <input type="hidden" name="name" value="{{this}}">
            <tr>
                <td>
                    <input style="background-color: rgba(0, 0, 0, 0);color: black;border:none;font-size: 2rem;" class="btn btn-secondary btn-lg btn-block" type="submit" value="{{this}}">
                </td>
            </tr>
</form>
            {{else}}

            {{/each}}
        
    </tbody>
</table>
</div>
