<div  style="text-align: center;">
    <hr>
    <h1>Igreja Tabernaculo da Vida</h1>
    <hr>
    <br>
    <h2 style=" color: red;font-weight: bold">ORDEM DA IGREJA – PRG
        25</h2>
    <div class="card">
        <div class="card-body">
            <p>
                Esses adoradores não
                devem falar uns com
                os outros, e ficar
                falando de um lado
                para a outro e fazendo
                barulho na igreja
            </p>
        </div>
    </div>
</div>


